.img{
    border:  solid 1px;
    width: 100%;
    height: 200px;
    display: flex;
}
.img img{
    width: 250px;
    margin: auto;
    justify-content: center;
}
nav{
    background-color: green;
}
ul{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
ul,li{
    color: white;
    list-style: none;
    padding: 10px 20px;

   
}
li:hover{
    background-color: white;
    color: black;
}
.uno{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    align-items: center;
}
.cuadros-p{
    display: flex;
    background-color: grey;
    padding: 10px;
    width: 300px;
}
.cuadros-p .p1{
  background-color: rgb(148, 199, 148);
  opacity: 0.5;
  color: white;
}
.p1:hover{background-color:green;}
.cuadros-p a{text-decoration: none;}

.cuadros-p .p2{
    padding: 20px;
    color: rgb(31, 29, 29);
}
.p2:hover{color: rgb(81, 81, 183);}
.linea{
    border: solid 1px;
    width: 96%;
    margin: auto;
    opacity: 0.2;
}
.imagenes-5{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.iconos5{
    padding: 30px 10px;
}
.iconos5 img{
    width: 50px;
}